@tailwind base;
@tailwind components;
@tailwind utilities;

/* !!!!!!!
    GOOGLE FONTS
!!!!!!! */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* !!!!!!!
    GLOBAL
!!!!!!! */

body {
  background-color: #1a1f2c;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Poppins",
    "Roboto Condensed", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-family: "Ubuntu";
}

/* !!!!!!!
    NAVBAR
!!!!!!! */

.navbar::before {
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3cpath d='M31.98 188.99L96.93 226.49L96.93 301.49L31.98 338.99L-32.97 301.49L-32.97 226.49zM161.89 -36.01L226.84 1.49L226.84 76.49L161.89 113.99L96.93 76.49L96.93 1.49zM226.84 301.49L291.8 338.99L291.8 413.99L226.84 451.49L161.89 413.99L161.89 338.99zM356.75 301.49L421.7 338.99L421.7 413.99L356.75 451.49L291.8 413.99L291.8 338.99zM356.75 526.49L421.7 563.99L421.7 638.99L356.75 676.49L291.8 638.99L291.8 563.99zM421.7 -36.01L486.66 1.49L486.66 76.49L421.7 113.99L356.75 76.49L356.75 1.49zM616.56 526.49L681.52 563.99L681.52 638.99L616.56 676.49L551.61 638.99L551.61 563.99zM681.52 188.99L746.47 226.49L746.47 301.49L681.52 338.99L616.56 301.49L616.56 226.49zM876.38 76.49L941.33 113.99L941.33 188.99L876.38 226.49L811.42 188.99L811.42 113.99zM1006.29 76.49L1071.24 113.99L1071.24 188.99L1006.29 226.49L941.33 188.99L941.33 113.99zM1136.19 301.49L1201.15 338.99L1201.15 413.99L1136.19 451.49L1071.24 413.99L1071.24 338.99zM1460.96 188.99L1525.92 226.49L1525.92 301.49L1460.96 338.99L1396.01 301.49L1396.01 226.49z' stroke='rgba(10%2c 183%2c 155%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M24.48 188.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM89.43 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM89.43 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM24.48 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.47 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.47 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM154.39 -36.01 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM219.34 1.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM219.34 76.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM154.39 113.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM89.43 76.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM89.43 1.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM219.34 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM284.3 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM284.3 413.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM219.34 451.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM154.39 413.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM154.39 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM349.25 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM414.2 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM414.2 413.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM349.25 451.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM349.25 526.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM414.2 563.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM414.2 638.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM349.25 676.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM284.3 638.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM284.3 563.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM414.2 -36.01 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM479.16 1.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM479.16 76.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM414.2 113.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM349.25 76.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM349.25 1.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM609.06 526.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM674.02 563.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM674.02 638.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM609.06 676.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM544.11 638.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM544.11 563.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM674.02 188.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM738.97 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM738.97 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM674.02 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM609.06 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM609.06 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM868.88 76.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM933.83 113.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM933.83 188.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM868.88 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.92 188.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.92 113.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM998.79 76.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.74 113.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.74 188.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM998.79 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1128.69 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.65 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.65 413.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1128.69 451.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.74 413.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.74 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1453.46 188.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1518.42 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1518.42 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1453.46 338.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1388.51 301.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1388.51 226.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(10%2c 183%2c 155%2c 1)'%3e%3c/path%3e%3cpath d='M24.41 -25.29L71.18 1.71L71.18 55.71L24.41 82.71L-22.36 55.71L-22.36 1.71zM71.18 55.71L117.94 82.71L117.94 136.71L71.18 163.71L24.41 136.71L24.41 82.71zM24.41 136.71L71.18 163.71L71.18 217.71L24.41 244.71L-22.36 217.71L-22.36 163.71zM24.41 460.71L71.18 487.71L71.18 541.71L24.41 568.71L-22.36 541.71L-22.36 487.71zM164.71 55.71L211.48 82.71L211.48 136.71L164.71 163.71L117.94 136.71L117.94 82.71zM117.94 298.71L164.71 325.71L164.71 379.71L117.94 406.71L71.18 379.71L71.18 325.71zM164.71 379.71L211.48 406.71L211.48 460.71L164.71 487.71L117.94 460.71L117.94 406.71zM164.71 541.71L211.48 568.71L211.48 622.71L164.71 649.71L117.94 622.71L117.94 568.71zM211.48 298.71L258.24 325.71L258.24 379.71L211.48 406.71L164.71 379.71L164.71 325.71zM258.24 541.71L305.01 568.71L305.01 622.71L258.24 649.71L211.48 622.71L211.48 568.71zM351.78 217.71L398.54 244.71L398.54 298.71L351.78 325.71L305.01 298.71L305.01 244.71zM351.78 379.71L398.54 406.71L398.54 460.71L351.78 487.71L305.01 460.71L305.01 406.71zM305.01 460.71L351.78 487.71L351.78 541.71L305.01 568.71L258.24 541.71L258.24 487.71zM351.78 541.71L398.54 568.71L398.54 622.71L351.78 649.71L305.01 622.71L305.01 568.71zM398.54 460.71L445.31 487.71L445.31 541.71L398.54 568.71L351.78 541.71L351.78 487.71zM538.84 379.71L585.61 406.71L585.61 460.71L538.84 487.71L492.08 460.71L492.08 406.71zM585.61 460.71L632.38 487.71L632.38 541.71L585.61 568.71L538.84 541.71L538.84 487.71zM632.38 541.71L679.14 568.71L679.14 622.71L632.38 649.71L585.61 622.71L585.61 568.71zM679.14 136.71L725.91 163.71L725.91 217.71L679.14 244.71L632.38 217.71L632.38 163.71zM725.91 217.71L772.68 244.71L772.68 298.71L725.91 325.71L679.14 298.71L679.14 244.71zM819.44 55.71L866.21 82.71L866.21 136.71L819.44 163.71L772.68 136.71L772.68 82.71zM819.44 379.71L866.21 406.71L866.21 460.71L819.44 487.71L772.68 460.71L772.68 406.71zM772.68 460.71L819.44 487.71L819.44 541.71L772.68 568.71L725.91 541.71L725.91 487.71zM866.21 -25.29L912.98 1.71L912.98 55.71L866.21 82.71L819.44 55.71L819.44 1.71zM912.98 217.71L959.74 244.71L959.74 298.71L912.98 325.71L866.21 298.71L866.21 244.71zM959.74 136.71L1006.51 163.71L1006.51 217.71L959.74 244.71L912.98 217.71L912.98 163.71zM1006.51 541.71L1053.28 568.71L1053.28 622.71L1006.51 649.71L959.74 622.71L959.74 568.71zM1053.28 136.71L1100.04 163.71L1100.04 217.71L1053.28 244.71L1006.51 217.71L1006.51 163.71zM1100.04 217.71L1146.81 244.71L1146.81 298.71L1100.04 325.71L1053.28 298.71L1053.28 244.71zM1053.28 460.71L1100.04 487.71L1100.04 541.71L1053.28 568.71L1006.51 541.71L1006.51 487.71zM1100.04 541.71L1146.81 568.71L1146.81 622.71L1100.04 649.71L1053.28 622.71L1053.28 568.71zM1240.34 -25.29L1287.11 1.71L1287.11 55.71L1240.34 82.71L1193.58 55.71L1193.58 1.71zM1240.34 460.71L1287.11 487.71L1287.11 541.71L1240.34 568.71L1193.58 541.71L1193.58 487.71zM1287.11 541.71L1333.88 568.71L1333.88 622.71L1287.11 649.71L1240.34 622.71L1240.34 568.71zM1380.64 55.71L1427.41 82.71L1427.41 136.71L1380.64 163.71L1333.88 136.71L1333.88 82.71zM1333.88 136.71L1380.64 163.71L1380.64 217.71L1333.88 244.71L1287.11 217.71L1287.11 163.71zM1380.64 217.71L1427.41 244.71L1427.41 298.71L1380.64 325.71L1333.88 298.71L1333.88 244.71zM1380.64 379.71L1427.41 406.71L1427.41 460.71L1380.64 487.71L1333.88 460.71L1333.88 406.71zM1333.88 460.71L1380.64 487.71L1380.64 541.71L1333.88 568.71L1287.11 541.71L1287.11 487.71zM1474.18 379.71L1520.94 406.71L1520.94 460.71L1474.18 487.71L1427.41 460.71L1427.41 406.71zM1474.18 541.71L1520.94 568.71L1520.94 622.71L1474.18 649.71L1427.41 622.71L1427.41 568.71z' stroke='rgba(10%2c 218%2c 185%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.indicator {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #1a1f2c;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 20px;
}

/* !!!!!!!
    ARROW BOUNCE
!!!!!!! */

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-30px);
    opacity: 0;
  }
  60% {
    transform: translateY(-15px);
  }
}
